<header class="header">
  <div class="inner">
    <h1><a href="/list" class="logo">Forum</a></h1>
    <nav class="gnb-wrap">
      <ul class="gnb">
        <li><a href="/list">게시글</a></li>
        <li><a href="/add">게시글작성</a></li>
        <li><a href="/join">회원가입</a></li>
      </ul>
    </nav>

    <nav class="utils">
      <a href="/login">LOGIN</a>
      <a href="/logout">LOGOUT</a>
    </nav>
  </div>
</header>


